h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color:blue;
    border: solid black 5px;
    background-color:#fff;
}
body{
    background-color:rgb(18, 7, 77);
}
p{
    font-size: 30px;
    color: #fff;
}
img{
    height: 150px;
    width: 200px;
}
.container{
    text-align:center;
}
button{
    padding: 20px;
    border-color:blueviolet;
    margin-top: 15px;
    border-radius: 10px;
}

